{{ nfs_export_root }}   192.168.0.0/16(rw,sync,no_root_squash,no_subtree_check,crossmnt,fsid=0)
{% for export in nfs_exports %}
{{ nfs_export_root}}/{{ export }}            192.168.0.0/16(rw,sync,no_subtree_check,no_root_squash)
{% endfor %}
